   <p>We are a voluntary consulting group helping original peoples and peripheral communities establish <a data-toggle="popover" data-html="true" data-content='
				    	Indigenous data sovereignty is the right of a nation to govern the collection, ownership, and application of its own data.
				    		<a class="btn" href="https://cdn.auckland.ac.nz/assets/psych/about/our-research/documents/TMR%2BM%C4%81ori%2BData%2BSovereignty%2BPrinciples%2BOct%2B2018.pdf">Principles of Māori Data Sovereignty (PDF)</a>
				    		'>digital sovereignty</a> and evade <a data-toggle="popover" data-html="true" data-content='
				    		Surveillance capitalism unilaterally claims human experience as free raw material for translation into behavioral data.<br>
	<a class="btn" href="https://en.wikipedia.org/wiki/Surveillance_capitalism">Read more about surveillance capitalism on wikipedia</a>
				    		'>surveillance capitalism</a> with <a data-toggle="popover" data-html="true" data-content='
				    		Rhizomatic organization opposes an arborescent (hierarchical, tree-like) conception of knowledge, working outside its dualist categories and binary choices.<br>
	<a class="btn" href="https://en.wikipedia.org/wiki/Rhizome_(philosophy)">Read about rhizome on Wikipedia</a>
				    		'>rhizomatic technologies</a>.</p>
				    <p>We solve the community-specific issues, with research, adoption and security, and educating community members to maintain and expand their digital autonomy.</p>