
				     <p>Somos um grupo de tecnologistas e humanistas auxiliando povos originários, quilombolas e comunidades periféricas a estabelecer sua 
	<a data-toggle="popover" class="glossary" data-html="true" data-content="{{ .Site.Data.glossary.digital_sovereignty.description_pt }}">{{ .Site.Data.glossary.digital_sovereignty.title_pt }}</a> 
				     	e evadir o <a data-toggle="popover" class="glossary" data-html="true" data-content="{{ .Site.Data.glossary.surveillance_capitalism.description_pt }}">{{ .Site.Data.glossary.surveillance_capitalism.title_pt }}</a> por meio de <a data-toggle="popover" class="glossary" data-html="true" data-content="{{ .Site.Data.glossary.rhizomatic_technologies.description_pt }}">{{ .Site.Data.glossary.rhizomatic_technologies.title_pt }}</a>.</p>
				    <p>Resolvemos problemas específicos da comunidade com consultoria (pesquisa, adoção/manutenção de tecnologia e segurança) e facilitando o conhecimento para os membros sobre como tirar o melhor proveito da  tecnologia, expandindo sua autonomia.</p>
				  


