<section>
	<h2>Communal AR</h2>
    <div class="grid">
     {{ partial "mesa/poster.svg" }}
     <div class="col"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt. to enhance collective intelligence.</p>
         <ul>
            <li class="fragment">Gestures</li>
            <li class="fragment">Extendable</li>
            <li class="fragment">Commonly Found Technologies</li>
            <li class="fragment">Security-by-Proximity</li>
        </ul>
    </div>
</div>
</section>

<section>
    <h4>Communal AR</h4>
 <h2>Gestures</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
 <div class="grid grid-3">
     {{ partial "mesa/gesture-1.svg" }}
     {{ partial "mesa/gesture-2.svg" }}
     {{ partial "mesa/gesture-3.svg" }}
 </div>
</section>

<section>
    <h4>Communal AR</h4>
 <h2>Extendable</h2>
 <p>for fine-tuned operations or privacy</p>
Image: 
    - user invokes QR code (by flipping card)
    - user user scans
    - view of mobile, edits, hits enter
    - card flips back with update

</section>
<section>
	<h4>Communal AR</h4>
 <h2>Commonly Found Technologies</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
</section>
<section>
	<h4>Communal AR</h4>
	<h2>Security-by-Proximity</h2>
 <p>add bruce schneier quote here</p>

</section>

<section>
	<h2>Native Apps</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
    <ul>
        <li class="fragment">Maps</li>
        <li class="fragment">Card Sorting</li>
        <li class="fragment">Reading Time</li>
    </ul>
</section>

<section>
 <h4>Native Apps</h4>
 <h2>Maps</h2>
 <div class="grid grid-third">
     {{ partial "mesa/map-1.svg" }}
     <div class="col"> <p>map of needs</p>
        <ul>
          <li>border patrol</li>
          <li>contact tracing by feet</li>
          <li>political canvassing</li>
          <li>disaster relief</li>
          <li>census</li>
      </ul></div>
  </div>

  

</section>
<section>
 <h4>Native Apps</h4>
 <h2>Maps</h2>
 <div class="grid grid-third">
     {{ partial "mesa/map-2.svg" }}
     <div class="col"> <p>(explicits collective intelligence)</p></div>
 </div>

</section>
<section>
	<h4>Native Apps</h4>
  <h2>Card Sorting</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
Image:
- quadrant risk
- kanban board
- team tasks (one person per column, cards with difficulty and scoreboard)
</section>
<section>
	<h4>Native Apps</h4>
  <h2>Reading Time</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
Image:
- children reading each their own book around the table
- books show as "piles", organic arrangement
</section>

<section>
	<h2>at-risk communities</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, authonomy, Disaster Relief, management of resources thru collective decision, incidunt. </p>
    <ul>
        <li class="fragment">Indigenous People</li>
        <li class="fragment">Favelas</li>
        <li class="fragment">Disaster Relief</li>
    </ul>
</section>
<section>
	<h4>at-risk communities</h4>
	<h2>Indigenous people</h2>
    <p>show bonafides</p>

</section>
<section>
	<h4>at-risk communities</h4>
	<h2>Favelas</h2>
    <p>how to translate it?</p>

</section>
<section>
	<h4>at-risk communities</h4>
	<h2>Disaster Relief</h2>
    <p>building a map of needs. flash flood, epidemics, shelter, etc.</p>
</section>
<section>
	<h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
    <ul>
        <li class="fragment">Digital Commons</li>
        <li class="fragment">Mesa Team</li>
        <li class="fragment">Mesa Phases</li>
    </ul>
</section>
<section>
	<h3>About Us</h3>
  <h2>Digital Commons</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>

</section>
<section>
	<h3>About Us</h3>
  <h2>Mesa Team</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, incidunt.</p>
  <ul>
    <li class="fragment">Nicholas Frota, Product</li>
    <li class="fragment">Rodrigo Junqueira, Development</li>
    <li class="fragment">Joshua Christman, Communications</li>
</ul>
</section>
<section>
	<h3>About Us</h3>
  <h2>Mesa Phases</h2>
  Image: 
  - submay map of phases
  - roll over, description + deliverables
  <ul>
    <li class="fragment">proof of concept</li>
    <li class="fragment">product strategy</li>
    <li class="fragment">technical foundation</li>
    <li class="fragment">community outreach</li>
    <li class="fragment">native apps</li>
    <li class="fragment">third-party apps</li>
</ul>
</section>
<section>
	<h2>Thank You!</h2>
  <ul>
    <li class="fragment">This deck: <a href="https://praxis.nyc/mesa/pitch">praxis.nyc/mesa/pitch</a></li>
    <li class="fragment">Mesa: <a href="https://praxis.nyc/mesa">praxis.nyc/mesa</a></li>
    <li class="fragment">Praxis: <a href="https://praxis.nyc">praxis.nyc</a></li>
</ul>
<p>qr code?</p>
</section>